{% extends "base.html" %}

{% block index %}
    <div id="index-page-wrapper">
        <div class="heading">
            <h1>Welcome to Hogwarts</h1>
        </div>
        <div class="student-list-wrapper">
            <h2>Your Enrolled Students</h2>
            <hr/>
            <ul class="student-list-main">
            {% for student in students %}
                <li class="student"><a href="/students/{{student.id}}">{{ student.first_name}} {{ student.last_name }}</a></li>
            {% endfor %}
            </ul>
            <hr/>
            <p><a href="/students/new">Enrol Student</a></p>
        </div>
    </div>
{% endblock %}