{% extends "base.html" %}

{% block index %}
    <div id="index-page-wrapper">
        <div class="heading">
            <h1>Welcome to Hogwarts</h1>
        </div>
        <div class="student-list-wrapper">
            <h2>Your Enrolled Students</h2>
            {% if students[0] != NoneType  %}
            <hr/>
            <ul class="student-list-main">
                {% for student in students %}
                    {% if student.house[0] == NoneType %}
                        <li class="student"><a href="/students/{{student.id}}">{{ student.first_name}} {{ student.last_name }} - not sorted</a></li>
                    {% else %}
                        <li class="student"><a href="/students/{{student.id}}">{{ student.first_name}} {{ student.last_name }} - {{ student.house }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            <hr/>
            {% endif %}
            <a href="/students/new"><button class="button">Enrol Student</button></a>
        </div>
    </div>
{% endblock %}