{% extends "base.html" %}

{% block show %}
    <div class="page-wrapper"></div>
        <div class="heading">
            <h1>Student Directory</h1>
        </div>
        <div class="student-list-wrapper">
            <h2 id="student-name">{{ student.first_name}} {{ student.last_name }}</h2>
            <hr/>
            <ul class="student-list-main">
                <div class="show-item">
                    <li class="list-title">House:</li>
                {% if student.house[0] != NoneType %}
                    <li>{{ student.house}}</li>
                {% elif student.house[0] == NoneType %}
                    <a href="/students/{{student.id}}/sorting"><button class="button">Sorting Ceremony</button></a>
                {% endif %}
                </div>
                <div class="show-item">
                    <li class="list-title">Wand:</li>
                    <li>{{ student.wand}}</li>
                </div>
                <div class="show-item">
                    <li class="list-title">Patronus:</li>
                    <li>{{ student.patronus}}</li>
                </div>
            </ul>
            <hr/>
            <a href="/students/{{student.id}}/edit"><button class="button">Update Details</button></a>
            <form action="/students/{{student.id}}/delete" method="POST">
                <input type="submit" class="button" value="Expel Student">
            </form>
        </div>
    </div>
{% endblock %}